<div class="container ">
    <div class="card">
        <div class="row card-header bg-primary text-white content-vertical-center">
            <h5 class="col">
                Here are your current todo list!
            </h5>
            <a type="button" class="btn btn-light" href="./todo-add">Add New</a>
        </div>
        <div class="card-body ">
            <div class="row">
                <div class="col-2"><span class="font-weight-bold">Title</span></div>
                <div class="col-6"><span class="font-weight-bold">Description </span></div>
                <div class="col-2"><span class="font-weight-bold">Added on</span></div>
            </div>
            <div class="row p-2 todo-list-item" *ngFor="let item of todoItems" (click)='selected(item)'>
                <div class="col-2"><a [routerLink]="['/todo', item.Id]">{{item.Title}}</a></div>
                <div class="col-6">{{item.Description}}</div>
                <div class="col-2">{{item.AddedOnUtc | date}}</div>
            </div>
        </div>
    </div>
</div>