
<div class="container ">
    <div class="card">
        <h5 class="card-header bg-primary text-white">
            Here are your current todo list! 
        </h5>
        <div class="card-body ">
            <div class="row">
                <div class="col-2"><span class="font-weight-bold">Title</span></div>
                <div class="col-6"><span class="font-weight-bold">Description </span></div>
                <div class="col-2"><span class="font-weight-bold">Added on</span></div>
            </div>
            <div class="row p-2 todo-list-item" *ngFor="let item of todoItems" (click)='selected(item)'>
                <div class="col-2"><a [routerLink]="['/todo', item.Id]">{{item.Title}}</a></div>
                <div class="col-6">{{item.Description}}</div>
                <div class="col-2">{{item.AddedOnUtc | date}}</div>
            </div>
        </div>
    </div>
</div>
