
<div class="lg-col-10 offset-2 mt-lg-4">
    <div class="card bg-silver p-2">
        <div class="bg-primary text-white p-2">
            <span class="font-weight-bold">Here are your current todo list!</span>
        </div>
        <div class="m-2">
            <div class="row">
                <div class="col-4"><span class="font-weight-bold">Title</span></div>
                <div class="col-6"><span class="font-weight-bold">Description </span></div>
            </div>
            <div class="row mt-2" *ngFor="let item of todoItems">
                <div class="col-4">{{item.Title}}</div>
                <div class="col-6">{{item.Description}}</div>
            </div>
        </div>
    </div>
</div>